#comment
  .user-name
    = link_to comment.user.user_name, profile_path(comment.user.user_name)
    .comment-content
      = comment.content
    - if comment.user == current_user
      = link_to post_comment_path(post, comment), method: :delete, remote: true, data: { confirm: "Are you sure?" } do
        %span(class="glyphicon glyphicon-remove delete-comment")